<%= form_for(@attachment) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file%>
  </div>
  <div class="field">
    <%= f.label :post_id, "Post" %>
    <%= f.collection_select :post_id, Post.all, :id, :tittle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
